/**
 * Variables
 */
/**
 * Scaffolding
 */
 * {
	margin: 0;
}

* + * {
	margin-top: 1rem;
}

html {
	background: #444;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: #e1e1e1;
	font: 0.66667em "Source Sans Pro", sans-serif;
	margin: 0 auto 1rem;
	max-width: 64em;
}

h1,
a {
	color: #fff;
	font-weight: 600;
}

h1 {
	font-size: 2.25em;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

label {
	display: block;
}

pre,
code {
	font-family: "Source Code Pro", monospace;
}

/**
 * Component: Grid
 *
 * https://github.com/suitcss/components-grid/
 */
.Grid {
	display: block;
	font-size: 0;
	margin: 0;
	padding: 0;
	text-align: left;
}

.Grid--withGutter {
	margin: 0 -0.5rem;
}

.Grid--withGutter > .Grid-cell {
	padding: 0 0.5rem;
}

.Grid-cell {
	box-sizing: border-box;
	display: inline-block;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	width: 100%;
}

/**
 * Component: Card
 */
.Card-image {
	display: inline-block;
	position: relative;
}

.CC_Card-image:after {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.CC_Card-image img {
	display: block;
	height: 3.125em;
	width: 5em;
}

.CC_Card-expiry {
	color: #aaa;
	font-size: 0.66667em;
}

/**
 * Component: Input
 */
.Input {
	background: #fff;
	border: 3px solid #e1e1e1;
	border-radius: 0.375rem;
	color: #444;
	display: block;
	font: inherit;
	padding: 0.5rem 1rem;
	width: 100%;
	-webkit-appearance: none;
}

.Input:hover {
	border-color: #aaa;
}

.Input:focus {
	border-color: #08c;
	outline: 0;
}

.Input.is-visa, .Input.is-mastercard, .Input.is-amex {
	background-position: 0.75rem center;
	background-repeat: no-repeat;
	padding-left: 3.375rem;
}

.Input.is-visa {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/creditcard-visa.svg");
}

.Input.is-mastercard {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/creditcard-mastercard.svg");
}

.Input.is-amex {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/62127/creditcard-amex.svg");
}

/**
 * Component: Button
 */
.Button {
	background: #fff;
	border: 3px solid transparent;
	border-radius: 0.375rem;
	color: #08c;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	font-weight: 600;
	line-height: normal;
	margin: 0;
	padding: 0.5rem 1rem;
}

.Button:focus, .Button:hover {
	color: #00aaff;
}

.Button--primary {
	background: #08c;
	color: #fff !important;
}

.Button--primary:focus, .Button--primary:hover {
	background: #00aaff;
}

/**
 * Component: CC_Tiles
 */
.CC_Tiles {
	font-size: 0;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.CC_Tile {
	display: inline-block;
	font-size: 1rem;
	margin: 0;
	vertical-align: top;
	width: 100%;
}

.CC_Tile-content {
	background: #fff;
	border-radius: 0.375rem;
	color: #444;
	margin: 1rem 0.5rem 0;
	min-height: 10em;
	padding: 1rem;
	position: relative;
}

.CC_Tile-content--toggle {
	cursor: pointer;
}

.CC_Tile-content--toggle:focus, .CC_Tile-content--toggle:hover {
	box-shadow: 0 0 0 3px #75d1ff;
	outline: 0;
}

.CC_Tile.is-disabled .CC_Tile-content--toggle {
	cursor: default;
	opacity: 0.5;
}

.CC_Tile.is-disabled .CC_Tile-content--toggle:focus, .CC_Tile.is-disabled .CC_Tile-content--toggle:hover {
	box-shadow: none;
}

.CC_Tile-flyout {
	display: none;
	position: relative;
}

.CC_Tile.is-expanded .CC_Tile-flyout {
	display: block;
}

.CC_Tile-flyout:before {
	background: #fff;
	content: "";
	left: 50%;
	margin-left: -0.5rem;
	position: absolute;
	height: 1rem;
	top: -0.5rem;
	transform: rotate(45deg);
	width: 1rem;
}

/**
 * Breakpoint layout changes
 */
@media (min-width: 30em) {
	.CC_Tile {
		width: 50%;
	}

	.CC_Tile-flyout {
		width: 200%;
	}

	.CC_Tile:nth-child(2n+1) .CC_Tile-flyout {
		margin-left: 0%;
	}

	.CC_Tile:nth-child(2n+1) .CC_Tile-flyout:before {
		left: 25%;
	}

	.CC_Tile:nth-child(2n+2) .CC_Tile-flyout {
		margin-left: -100%;
	}

	.CC_Tile:nth-child(2n+2) .CC_Tile-flyout:before {
		left: 75%;
	}
}

@media (min-width: 48em) {
	.CC_Tile {
		width: 33.33333%;
	}

	.CC_Tile-flyout {
		width: 300%;
	}

	.CC_Tile:nth-child(3n+1) .CC_Tile-flyout {
		margin-left: 0%;
	}

	.CC_Tile:nth-child(3n+1) .CC_Tile-flyout:before {
		left: 16.66667%;
	}

	.CC_Tile:nth-child(3n+2) .CC_Tile-flyout {
		margin-left: -100%;
	}

	.CC_Tile:nth-child(3n+2) .CC_Tile-flyout:before {
		left: 50%;
	}

	.CC_Tile:nth-child(3n+3) .CC_Tile-flyout {
		margin-left: -200%;
	}

	.CC_Tile:nth-child(3n+3) .CC_Tile-flyout:before {
		left: 83.33333%;
	}
}

@media (min-width: 64em) {
	.CC_Tile {
		width: 25%;
	}

	.CC_Tile-flyout {
		width: 400%;
	}

	.CC_Tile:nth-child(4n+1) .CC_Tile-flyout {
		margin-left: 0%;
	}

	.CC_Tile:nth-child(4n+1) .CC_Tile-flyout:before {
		left: 12.5%;
	}

	.CC_Tile:nth-child(4n+2) .CC_Tile-flyout {
		margin-left: -100%;
	}

	.CC_Tile:nth-child(4n+2) .CC_Tile-flyout:before {
		left: 37.5%;
	}

	.CC_Tile:nth-child(4n+3) .CC_Tile-flyout {
		margin-left: -200%;
	}

	.CC_Tile:nth-child(4n+3) .CC_Tile-flyout:before {
		left: 62.5%;
	}

	.CC_Tile:nth-child(4n+4) .CC_Tile-flyout {
		margin-left: -300%;
	}

	.CC_Tile:nth-child(4n+4) .CC_Tile-flyout:before {
		left: 87.5%;
	}
}

/**
 * Utilities: Space
 */
.u-marginTop {
	margin-top: 1rem;
}

@media (min-width: 48em) {
	.u-md-no-marginTop {
		margin-top: 0;
	}
}

/**
 * Utilities: Size
 *
 * https://github.com/suitcss/utils-size/
 */
.u-size1of2 {
	width: 50% !important;
}

@media (min-width: 48em) {
	.u-md-size1of2 {
		width: 50% !important;
	}
}

/**
 * Utilities: Text
 * 
 * https://github.com/suitcss/utils-text/
 */
.u-textCenter {
	text-align: center !important;
}

.u-textRight {
	text-align: right !important;
}